server:
  http:
    addr: 0.0.0.0:8085
    timeout: 1

data:
  database:
    driver: mysql
    source: ceshiceshi:DFFD4535$EW334%#$#dssf2@tcp(77e82bd92ccb4b8dbcb4518f3104b7a2in01.internal.cn-south-1.mysql.rds.myhuaweicloud.com:3306)/mgtj_app_content?charset=utf8mb4
  redis:
    addr: 127.0.0.1:6379
    read_timeout: 0.2
    write_timeout: 0.2

log:
  path: .